.three-panel-layout {
  display: flex; /* Use flexbox for layout */
  margin: 0 auto;
  max-width: 100%; /* Limit width */
}

.panel {
  padding: 10px;
  padding-right: 0px;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Styles for the left panel */
.panel-left {
  width: 20%; /* Left panel width */
  margin-top: -19px;
  height: auto; /* Allow height to be auto */
  padding-top: 15px;
  margin-left: -10px;
}

.main-content-container {
  border-left: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
}

/* Styles for the center panel */
.panel-center {
  flex: 1; /* Grow to fill available space */
  margin-top: -16px;
  margin-bottom: 20px; /* Space below center panel */
}

/* Styles for the right panel */
.panel-right {
  width: 100%; /* Right panel width in flex column */
  border: 1px solid wheat;
  background-color: rgb(107, 87, 36);
  margin-top: -4px;
  padding-top: 0;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none; /* Hidden by default */
}

/* Small Screens (max-width: 768px) */
@media (max-width: 768px) {
  .three-panel-layout {
    flex-direction: column; /* Stack panels vertically */
    max-width: 100%; /* Full width on smaller screens */
    margin: auto;
  }
  .panel {
    padding: 10px;
    overflow-y: auto; /* Enable scrolling if content overflows */
  }

  .panel-left {
    display: none; /* Hide the left panel */
  }

  /* Move hamburger to the left */
  .hamburger-menu {
    display: block; /* Show hamburger on small screens */
    position: fixed; /* Keep it fixed on top */
    top: 7px;
    left: 25px; /* Adjust position as needed */
    cursor: pointer;
    font-size: 21px; /* Size of the hamburger */
    z-index: 1040; /* Ensure it overlaps other elements */
  }

  .main-content-container {
    width: 100%; /* Full width for center and right panels */
    margin-top: 37px;
    border: none;
  }

  .hamburger-menu.close {
    font-size: 24px; /* Size of the close icon */
  }

  .panel-center {
    width: calc(100% - 15px); /* Adjust width to account for margin */
    margin-left: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px; /* Space between panels */
  }
  .panel-right {
    width: calc(100% - 15px); /* Adjust width to account for margin */
    margin-left: 15px;
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Open the menu below the navbar */
  .panel-left.open {
    display: block; /* Show left panel when hamburger menu is active */
    position: absolute;
    top: 70px; /* Adjust the top value to open below the navbar */
    left: 10;
    width: 100%; /* Full width below the navbar */
    height: auto; /* Adjust height to content */
    background-color: white;
    z-index: 1000; /* Ensure it overlaps other content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    color: #000;
  }
}

/* Medium Screens (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .three-panel-layout {
    display: flex;
    flex-direction: row; /* Align panels in a row */
    height: auto; /* Ensure the layout takes full viewport height */
  }

  .panel-left {
    width: 200px; /* Left panel takes 20% width */
    position: fixed; /* Fixed positioning */
    top: 83px; /* Stick to the top with a 10vh margin */
    bottom: -10; /* Stick to the bottom */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    padding-top: 10px;
    padding-bottom: 100px; /* used this trick to show the scroll before bottom width touches content */
  }

  .main-content-container {
    display: flex; /* Use flexbox for center and right panels */
    flex-direction: column;
    flex: 1; /* Take the remaining width */
    height: auto; /* Full height of the viewport */
    margin-left: 200px;
  }

  .panel-center {
    width: calc(100% - 18px);
    margin-left: 10px;
    margin-right: -10px;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
    padding-top: 26px;
  }

  .panel-right {
    width: calc(100% - 10px);
    margin-left: 10px;
    padding: 10px 10px;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
  }
}
/* Large Screens */
@media (min-width: 1025px) {
  .three-panel-layout {
    flex-direction: row; /* Align panels horizontally */
    padding-top: 15px;
  }

  .panel-left {
    display: block; /* Show left panel */
  }

  .main-content-container {
    width: 80%;
    display: flex; /* Use flex for middle and right panels */
    flex-direction: row; /* Align them in a row */
    margin-top: -15px;
  }
  .panel-center {
    width: 60%; /* Center panel takes 60% */
    margin-top: 3px;
  }

  .panel-right {
    width: 30%; /* Right panel takes 20% */
    margin-top: 12px;
    margin-right: -10px;
  }
}
