:root {
  --background-color: rgb(37, 38, 39); /* Set background color to black */
  --text-color: #e0e0e0;       /* Light gray text for readability on black */
  --link-color: #82aaff;       /* Soft blue for links */
  --container-bg-color: #000000; /* Keep containers black to match the background */
  --input-bg-color: #1e1e1e;   /* Dark gray for input fields */
}

#app-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
  padding: 0;
  max-width: 1200px; /* Limit width */
  
}

@media (max-width: 768px) {
  .App {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
.container {
  background-color: var(--container-bg-color);
}

a {
  color: var(--link-color);
}

.input {
  background-color: var(--input-bg-color);
  color: var(--text-color);
}
