:root {
  --background-color: rgb(37, 38, 39); /* Set background color to black */
  --text-color: #e0e0e0; /* Light gray text for readability on black */
  --link-color: #82aaff; /* Soft blue for links */
  --container-bg-color: #000000; /* Keep containers black to match the background */
  --input-bg-color: #1e1e1e; /* Dark gray for input fields */
}
/* * {
  outline: 1px solid red;
}  */

* {
  box-sizing: border-box; /* Ensures padding and borders are included in element width/height */
  margin: 0;
  padding: 0;
}

#app-wrapper {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
  padding: 10px;
  padding-top: 0px;
  max-width: 1200px; /* Limit width */
}

.App.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.6;
}

/* Override for Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 1.15rem; /* Ensures better readability for tablets */
  }
}

/* Override for Small Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
  p {
    font-size: 1.2rem; /* Slightly bigger for laptops */
  }
}

@media (max-width: 768px) {
  .App {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
.container {
  background-color: var(--container-bg-color);
}

a {
  color: var(--link-color);
}

.input {
  background-color: var(--input-bg-color);
  color: var(--text-color);
}
